# Production Configuration
# Used when building for production (npm run build:prod)

VITE_API_BASE_URL=https://openeventsapi.com/api/v1.0
VITE_API_KEY=your_local_api_key_here
VITE_ALLOWED_HOSTS=your_host